@model IEnumerable<chuongnh.Models.ApplicationPost>

@{
    ViewBag.Title = "Trang chủ";
}

<!-- begin post-list -->
<ul class="post-list">
  @foreach (var item in Model)
  {
    <li>
        <!-- begin post-left-info -->
        <div class="post-left-info">
            <div class="post-date">
                <span class="day">@item.CreatedDate.Day</span>
                <span class="month">Tháng @item.CreatedDate.Month</span>
            </div>
            <div class="post-likes">
                <i class="fa fa-heart-o"></i>
                <span class="number">@item.Comments.Count()</span>
            </div>
        </div>
        <!-- end post-left-info -->
        <!-- begin post-content -->
        <div class="post-content">
            <!-- begin post-image -->
            <div class="post-image">
                <a href="/bai-viet/@item.Id"><img src="@item.Image" alt="" class="img-responsive"/></a>
            </div>
            <!-- end post-image -->
            <!-- begin post-info -->
            <div class="post-info">
                <h4 class="post-title">
                    <a href="/bai-viet/@item.Id">@item.PostTitle</a>
                </h4>
                <div class="post-by">
                    Posted By <a href="#">@item.User.Email</a> <span class="divider">|</span> <a href="#">Sports</a>, <a href="#">Parachute</a>, <a href="#">Blue Sky</a> <span class="divider">|</span> @item.Comments.Count() Comments
                </div>
                <div class="post-desc">
                    @item.Decsription
                </div>
            </div>
            <!-- end post-info -->
            <!-- begin read-btn-container -->
            <div class="read-btn-container">
                <a href="post_detail.html" class="read-btn">Read More <i class="fa fa-angle-double-right"></i></a>
            </div>
            <!-- end read-btn-container -->
        </div>
        <!-- end post-content -->
    </li>
                        }
</ul>
<!-- end post-list --> 

<div class="section-container">
    <!-- begin pagination -->
    <div class="pagination-container text-center">
        <ul class="pagination m-t-0 m-b-0">
            <li class="disabled"><a href="javascript:;">Prev</a></li>
            <li class="active"><a href="javascript:;">1</a></li>
            <li><a href="javascript:;">2</a></li>
            <li><a href="javascript:;">3</a></li>
            <li><span class="text">...</span></li>
            <li><a href="javascript:;">1797</a></li>
            <li><a href="javascript:;">Next</a></li>
        </ul>
    </div>
    <!-- end pagination -->
</div>

